/***** ***** ***** base styles ***** ***** *****/
*, html, body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Gelasio', serif;
  font-family: 'Noto Serif', serif;
}
body {
  background-color: #fcfcfc;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

/***** ***** ***** 320px mobile ***** ***** *****/
@media screen and (min-width: 320px) {
  header {
    margin: 0 auto;
    text-align: center;
  }
  .header-title {
    padding: 40px 10px;
    background-color: #373642;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
  }
  .newsletter-blurb {
    padding: 20px 10px 30px;
    font-weight: lighter;
  }
  .newsletter-blurb h3 {
    padding-bottom: 10px;
    color: #373642;
  }
  .newsletter-blurb p {
    color: darkgrey;
    font-weight: 100;
  }
  .hr-line {
    width: 90%;
    text-align: center;
  }
  .line-1 {
    border-top: 3px solid #373642;
    padding-bottom: 2.5px;
    border-right: white;
    border-left: white;
  }
  .line-2 {
    border-top: 1px solid #373642;
    border-right: white;
    border-left: white;
  }
  /***** ***** ***** form ***** ***** *****/
  form {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  #contact-info-title {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #373642;
  }
  .input-box-div {
    padding-bottom: 10px;
  }
  .label-text {
    font-size: 12px;
    font-weight: lighter;
    color: #a0a0a0;
    margin-bottom: 10px;
  }
  .form-textbox {
    padding: 0 0 5px 0;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: thin;
    border: solid transparent;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    line-height: 2;
  }
  input[type="text"], input[type="email"], input[type="phone"], select {
    background-color: #F5F5F5;
  }
  input:focus{
    outline: none;
    -webkit-border-radius: 2px solid #005689;
    -moz-border-radius: 2px solid #005689;
    border: 2px solid #005689;
    border-radius: 3px;

  }
  #state-dropdown {
    color: #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: thin;
    border: solid transparent;
    box-sizing: border-box;
    width: 100%; 
  }
  #state-dropdown:focus {
    outline: #005689;
    -webkit-border-radius: 2px solid #005689;
    -moz-border-radius: 2px solid #005689;
    border: 2px solid #005689;
    border-radius: 3px;
  }
  #zip-code {
    display: block;
    padding-bottom: 5px;
  }
  .zip-code-box {
    display: block; 
    width: 50%;
    margin-left: 0;
  }
  
  hr {
    width: 90%;
    text-align: center;
  }
  #bottom-hr {
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    border-top: 2px solid #373642;
    border-right: #f9f9f9;
    border-left: #f9f9f9;
    border-bottom-color: #f9f9f9;
  }
  /***** ***** below form & hr line ***** *****/
  .newsletter-title {
    padding-bottom: 7px;
    color: #373642;
    font-size: 22px;
  }
  .newsletter-web-options p {
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 14px;
    color: darkgrey;
  }
  .checkbox-div, .newsletter-format-div, .other-topics  {
    font-size: 12px;
    font-weight: lighter;
    color: darkgrey;
    padding-left: 5px;
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }
  input[type="checkbox"], .checkbox-labels {
    display: inline-block;
    vertical-align: middle; /* lines up text and checkbox evenly*/
  }
  .newsletter-radio-button-div {
    padding-bottom: 10px;
  }
  .checkbox-labels {
    line-height: 2;
  }
  .newsletter-format-div p {
    text-align: left;
  }
  input[type="radio"], .newsletter-radio-buttons {
    display: inline-block;
    vertical-align: middle; /* lines up text and radio button evenly*/
  }
  input[type="radio"],
  .other-topics {
    text-align: left;
    margin-right: 5px;
  }
  .newsletter-radio-buttons {
      line-height: 2;
  }
  .other-topics-textbox {
    background-color: #F5F5F5;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  /***** submit button *****/
  .button-div {
    text-align: center;
  }
  .submit-button {
    margin: 0 auto;
    background-color: #20b2aa;
    padding: 20px 107px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: solid transparent;
  }

  /****** ***** footer ***** *****/
  footer p {
    color: darkgrey;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    font-style: italic;
    padding: 20px;
  }

}


/***** ***** ***** ***** tablet / 768+px ***** ***** ***** *****/
@media screen and (min-width: 768px) {

  div.header-title {
    padding: 20px 10px;
  }
  header h1 {
    font-size: 18px;
  }
  .newsletter-blurb h3 {
    font-size: 20px;
    font-weight: bold;
  }
/***** ***** form ***** *****/
  form {
    padding-left: 36px;
    padding-right: 36px;
    margin: 0;
  }
  #contact-info-title {
    padding-left: 0px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .input-box-div {
    padding: 0;
    margin: 0 0 20px;
    width: 100%;
  }
 
  label, input {
    display: inline-block;
  }
  .form-textbox {
    width: 65%;
    line-height: 2.5;
  }

  .label-text {
    width: 25%;
    color: #242845;
    font-size: 16px;
    padding-right: 60px;
  }
  #state-dropdown {
    width: 65%;
    line-height: 3;
    font-size: 16px;
    height: 51px;
  }
  option {
    width: 65%;
  }
  #state + #state-dropdown {
    display: inline-block;
  }
  #state-dropdown + .form-textbox {
    margin-right: 0;
    line-height: 3;
  }
  #zip-code {
    padding-right: 20px;
  }
  #zip-code, .zip-code-box {
    display: inline-block;
  }
  .zip-code-box {
    width: 30%;
    margin-right: 0px;
  }
  .select-the-newsletter p, .checkbox-div, .newsletter-format-div p, .newsletter-radio-button-div, .other-topics p {
    color: #242845;
  }
  /***** ***** below form & hr line ***** *****/
  .newsletter-web-options h1 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  .select-the-newsletter p {
    margin-bottom: 5px;
  }
  .select-the-newsletter, .checkbox-div, .newsletter-radio-buttons {
    font-size: 15px;
  }
  input[type=checkbox], .checkbox-labels {
    margin-bottom: 7px;
}










} /*****end of css*****/

